.navbar{
    background-color: rgba(232, 226, 242, 1);
  }
  
  .login-button {
  background-color:  rgb(110, 115, 226);
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.3s background-color;
  text-decoration: none;
  margin-right: 10px;
  }
  
  .login-button:hover {
  background-color: rgb(36, 45, 221);
  }
  
  .register-button {
  background-color: rgb(110, 115, 226);
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.3s background-color;
  text-decoration: none;
  margin-right: 10px;
  }
  
  .register-button:hover {
    background-color: rgb(36, 45, 221);
  }
  
  .navbar-toggler {
  border: none;
  font-size: 1.25rem;
  }
  
  .navbar-toggler:focus,
  .btn-close:focus {
  box-shadow: none;
  outline: none;
  }
  
  .nav-link {
  color: #666777;
  font-weight: 500;
  position: relative;
  margin-right: 30px;
  }
  
  .nav-link:hover,
  .nav-link.active {
  color:rgb(68, 0, 255)
  }
  
  
  
  
  
  
  
  
  .dropdown-item-keluar{
      color: red;
      margin-left: 15px;
      text-decoration: none;
    }
    
    
    
  @media (min-width: 991px) {
      .nav-link::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 2px;
          background-color: rgb(68, 0, 255);
          visibility: hidden;
          transition: 0.3s ease-in-out;
        }
        
        .nav-link:hover::before,
        .nav-link.active::before {
            width: 60%;
            visibility: visible;
        }
    }

    .btn-group{
      margin-right: 60px;
    }





    .btn-daftar{
        background-color:rgb(68, 0, 255) ;
        color: #e9e8e6;
    }
    
    .icon-button{
        margin-top: 9px;
    }
    
    .btn-block{
        margin-top: 10px;
        width: 340px;
    }
    
    
    .card{
        margin-bottom: 20px;
        height: 360px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        background-color:  rgba(232, 226, 242, 1);
    }
    
    .card-title{
    color: blue;
}




#footer {
    background: #e9e8e6;
    padding: 30px 0;
    color: #222222;
    font-size: 14px;
    text-align: center;
    justify-content: first baseline;
  }
  
  #footer .credits {
    padding-top: 5px;
    font-size: 13px;
  }
  
  #footer .credits a {
    color: #34b7a7;
  }
  